@use "sass:color";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro&display=swap');

$heading-fonts: "Open Sans", sans-serif;
$fonts: "Source Serif Pro", serif;
$background-color: #1b222c;
$foreground-color: #99cccc;
$heading-color: color.scale(#39b6b8, $lightness: -50%, $saturation: 50%);
$link-color: #dead50;
$link-hover-color: #f35e7c;
$link-visited-color: $link-color;

body {
    background-color: $background-color;
    font: 18px $fonts;
    color: $foreground-color;
}

h1, h2, h3, h4, h5 {
    color: $heading-color;
    font-family: $heading-fonts;
    font-style: italic;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
}

a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
    &:visited {
        color: $link-visited-color;
        &:hover {
            color: $link-hover-color;
        }
    }
}

tr {
    vertical-align: top;
}

hr {
    color: red;
}

